:root {
  --main-padding: 100px;
  --main-color: rgb(0, 131, 143);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(249, 249, 249);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screen  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start title  */

.title .container .info {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 150px;
}

.title .container .info h3 {
  text-transform: capitalize;
  letter-spacing: 1.3px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-color);
}

.title .container .info p {
  text-transform: capitalize;
}

.title .container .box-one {
  display: flex;
  margin-left: 150px;
  margin-bottom: 50px;
}

.title .container .box-one img {
  max-width: 100%;
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.title .container .box-one .det {
  padding-top: 26px;
  margin-left: 50px;
}

.title .container .box-one .det h3 {
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
  font-size: 31px;
  font-weight: bold;
}

.title .container .box-one .det h3::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: var(--main-color);
  top: -11px;
}

.title .container .box-one .det p {
  font-weight: normal;
  margin-bottom: 29px;
  text-transform: capitalize;
}

.title .container .box-one .det a {
  text-transform: capitalize;
  font-size: 20px;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.title .container .box-one .det a:hover {
  background-color: rgb(0 131 143 / 28%);
}

.title .container .box-two .det a:hover {
  background-color: rgb(0 131 143 / 28%);
}

.title .container .box-three .det a:hover {
  background-color: rgb(0 131 143 / 28%);
}

.title .container .box-two {
  display: flex;
  margin-bottom: 50px;
  margin-left: 450px;
}

.title .container .box-two img {
  max-width: 100%;
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.title .container .box-two .det {
  padding-top: 26px;
  margin-right: 50px;
}

.title .container .box-two .det h3 {
  position: relative;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
  font-size: 31px;
  font-weight: bold;
}

.title .container .box-two .det h3::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: var(--main-color);
  top: -11px;
}
.title .container .box-two .det div {
  margin-bottom: 30px;
}
.title .container .box-two .det p {
  font-weight: normal;
  margin-bottom: 15px;

  text-transform: capitalize;
}

.title .container .box-two .det a {
  text-transform: capitalize;
  font-size: 20px;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  padding: 8px;
  border-radius: 10px;
}

/* end title  */
