:root {
  --main-padding: 100px;
  --main-color: rgb(0, 131, 143);
}
body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start title  */
.arch {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
}
.arch .container {
  margin-top: 130px;
}
.arch .container h1 {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 20px;
  letter-spacing: 0.9px;
  font-weight: bold;
}
.arch .container .italy {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 100px;
}
.arch .container .italy iframe {
  max-width: 100%;
  width: 337px;
}

.arch .container .italy .box {
  margin-top: 20px;
}
.arch .container .italy .box h3 {
  position: relative;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: black;
  margin-bottom: 6px;
}
.arch .container .italy .box h3::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: var(--main-color);
  left: 3px;
  top: -6px;
}
.arch .container .italy .box p {
  margin-bottom: 24px;
  color: #000000bd;
}
.arch .container .italy .box a {
  width: fit-content;
  text-decoration: none;
  background-color: rgb(0 131 143 / 31%);
  text-transform: capitalize;
  color: black;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  font-size: 20px;
}
.arch .container .italy .box a:hover {
  color: white;
  transition-delay: 0.5s;
}

.arch .container .italy .box a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: all 0.8s ease-in-out;
}
.arch .container .italy .box a:hover::before {
  height: 180%;
}

/* .arch .container .italy .box a:hover {
  background-color: rgb(0 131 143 / 31%);
  color: black;
} */
@media (max-width: 767px) {
  .arch {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 61px;
  }
}
@media (max-width: 650px) {
  .arch {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .arch .container .italy {
    margin: 15px 5px;
  }

  .arch .container h1 {
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 10px;
    letter-spacing: 0.9px;
    font-weight: bold;
  }
  .arch .container .uk iframe {
    width: 100%;
  }
}
.arch .container .uk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 235px;
}
.arch .container .uk iframe {
  max-width: 100%;
  width: 337px;
}

.arch .container .uk .box {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 115px;
  margin-bottom: 13px;
}
.arch .container .uk .box h3 {
  position: relative;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: black;
  margin-bottom: 6px;
}
.arch .container .uk .box h3::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: var(--main-color);
  left: 8px;
  top: -7px;
}
.arch .container .uk .box p {
  margin-bottom: 24px;
  color: #000000bd;
}
.arch .container .uk .box a {
  width: fit-content;
  border: 1px solid #ddd;
  padding: 10px 20px;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--main-color);

  background-color: rgba(115, 186, 192, 0.31);
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 20px;
}

.arch .container .uk .box a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  background-color: var(--main-color);
  left: 0;
  border-radius: 50% 50% 0 0;
  z-index: -1;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
.arch .container .uk .box a:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}
.arch .container .uk .box a:hover::before {
  height: 180%;
}

/* .arch .container .uk .box a:hover {
  background-color: rgb(0 131 143 / 31%);
  color: black;
} */

@media (max-width: 750px) {
  .arch .container .uk {
    margin: 5px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .arch .container .uk .box {
    margin-left: auto;
    width: 100%;
    margin-top: 45px;
  }
}
.arch .container .American {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 100px;
}
.arch .container .American iframe {
  max-width: 100%;
  width: 337px;
}

.arch .container .American .box {
  margin-top: 20px;
}
.arch .container .American .box h3 {
  position: relative;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: black;
  margin-bottom: 6px;
}
.arch .container .American .box h3::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  background-color: var(--main-color);
  left: 3px;
  top: -6px;
}
.arch .container .American .box p {
  margin-bottom: 24px;
  color: #000000bd;
}
.arch .container .American .box a {
  width: fit-content;
  text-decoration: none;
  background-color: rgb(0 131 143 / 31%);
  text-transform: capitalize;
  color: black;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ddd;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  font-size: 20px;
}
.arch .container .American .box a:hover {
  color: white;
  transition-delay: 0.5s;
}

.arch .container .American .box a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: all 0.8s ease-in-out;
}
.arch .container .American .box a:hover::before {
  height: 180%;
}

@media (max-width: 650px) {
  .arch {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .arch .container .American {
    margin: 15px auto;
  }

  .arch .container h1 {
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 10px;
    letter-spacing: 0.9px;
    font-weight: bold;
  }
}
/* end title  */

.pro {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.pro .container .threedmodel {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 500px;
  height: 291px;
  align-items: center;
  text-align: center;
  background-color: #ddd;
}
.pro .container .threedmodel input[type="file"] {
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  width: 225px;
  outline: none;
  box-shadow: 5px 5px 10px black;
  font-weight: bold;
}
::-webkit-file-upload-button {
  color: white;
  background: var(--main-color);
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 1px #6b4559;
  outline: none;
  padding: 10px 5px;
  font-weight: bold;
  transition: 0.3s;
}
::-webkit-file-upload-button:hover {
  background-color: rgb(0 131 143 / 31%);
  color: black;
}

.pro .container .twodmodel {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 500px;
  height: 291px;
  align-items: center;
  text-align: center;
  background-color: #ddd;
}
.pro .container .twodmodel input[type="file"] {
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  width: 225px;
  outline: none;
  box-shadow: 5px 5px 10px black;
  font-weight: bold;
}

::-webkit-file-upload-button {
  color: white;
  background: var(--main-color);
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0px 1px #6b4559;
  outline: none;
  padding: 10px 5px;
  font-weight: bold;
  transition: 0.3s;
}
::-webkit-file-upload-button:hover {
  background-color: rgb(0 131 143 / 31%);
  color: black;
}
@media (max-width: 700px) {
  .pro .container .threedmodel {
    width: 350px;
    margin: 10px -8px;
  }
  .pro .container .twodmodel {
    width: 350px;
    margin: 10px -8px;
  }
}

/* .pro .container .two {
  width: fit-content;
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 40px;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
}
.pro .container h2 {
  margin-bottom: 50px;
  text-transform: capitalize;
}
.pro .container #first {
  width: 400px;
  height: 300px;
  background-color: #ddd;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
}
.pro .container #first p {
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.pro .container #second {
  width: 400px;
  height: 300px;
  background-color: #ddd;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
}
.pro .container #second p {
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
@media (max-width: 650px) {
  .pro .container #first {
    width: 346px;
  }
  .pro .container #second {
    width: 346px;
  }
}
.empty {
  margin-top: 10px;
} */
/* start deta  */
/* .deta {
  background-color: var(--main-color);
  height: 264vh;
}

.deta .container .more {
  width: 500px;
  height: 400px;
  background-color: white;
  margin: 47px auto;
  position: relative;
  left: -23%;
  transform: translate(44%, 11%);
  bottom: 20px;
  border-radius: 10px;
}
.deta .container .more p {
  margin-top: 20px;
  top: 43%;
  left: 14%;
  transform: translate(50%);
  position: absolute;
  text-transform: capitalize;
  background-color: bisque;
  padding: 5px 10px;
  border-radius: 10px;
}
.deta .container .data {
  width: 900px;
  height: 1049px;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
}
.deta .container .data form h3 {
  color: var(--main-color);
  text-transform: capitalize;
  margin: 23px 100px;
  font-size: 22px;
  letter-spacing: 1.3px;
  font-weight: bold;
  padding-top: 20px;
  position: relative;
}
.deta .container .data form h3::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--main-color);
  bottom: -10px;
}
.deta .container .data form label {
  margin: 10px 100px;
}
.deta .container .data form input[type="text"],
input[type="date"] {
  margin: 10px 100px;
  width: 700px;
  height: 40px;
  background-color: #ddd;
  border: 1px solid;
}

.deta .container .data form textarea {
  margin: 10px 100px;
  background-color: #ddd;
  border: 1px solid;
  width: 700px;
  height: 106px;
}
.deta .container .data form input[type="checkbox"] {
  margin-left: 100px;
  margin-top: 5px;
}
.deta .container .data form .alone {
  display: flex;
}
.deta .container .data form .alone label {
  width: 400px;
  margin: 0px 5px;
}
.deta .container .data form .robot {
  display: none;
  width: 400px;
  height: 100px;
  background-color: #dddddd4a;
  margin: 10px auto;
  border: 1px solid;
  border-radius: 5px;
}

.deta .container .data form .robot input[type="checkbox"] {
  margin-top: 26px;
}
.deta .container .data form .robot label {
  margin: 20px 5px;
}
.deta .container .data form input[type="submit"] {
  color: white;
  background-color: var(--main-color);
  width: 100px;
  height: 44px;
  padding: 10px 15px;
  border: none;
  margin-left: 150px;
  margin-top: 30px;
  border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
  cursor: pointer;
}
.deta .container .data form input[type="submit"]:hover {
  background-color: rgb(0 131 143 / 69%);
} */

/*end deta  */
